<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="79" android:versionName="1.9.6" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" package="com.raouf.routerchef" platformBuildVersionCode="32" platformBuildVersionName="12">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="32"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:theme="@style/routerChef" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:name="com.raouf.routerchef.App" android:allowBackup="true" android:largeHeap="true" android:supportsRtl="true" android:extractNativeLibs="false" android:fullBackupContent="@xml/backup_descriptor" android:usesCleartextTraffic="true" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:isSplitRequired="true">
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.NewWifiSettings" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.RouterDevices" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.LineItemDetails" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.NetworkDevices" android:exported="false"/>
        <activity android:theme="@style/routerChef" android:name="com.raouf.routerchef.Landing" android:exported="true"/>
        <activity android:theme="@style/routerChef" android:name="com.raouf.routerchef.Login" android:exported="true" android:launchMode="singleTask" android:windowSoftInputMode="adjustPan"/>
        <activity android:theme="@style/SplashTheme" android:name="com.raouf.routerchef.SplashScreen" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.StorePurchase" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.RouterPage" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.BandwidthUsage" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.PingTest" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.SpeedTest" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.MacBlocker" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.Blacklist" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.AccessBlocker" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.AccessControl" android:exported="false"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.DnsPornBlocker" android:exported="false" android:launchMode="singleTask" android:noHistory="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.Onboarding" android:exported="true" android:noHistory="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.PersonalizedSpeedLimit" android:exported="true" android:noHistory="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.SeparatedWifiSettings" android:exported="true" android:noHistory="true"/>
        <activity android:name="com.raouf.routerchef.SettingsActivity" android:exported="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.PppoeSettings" android:exported="true" android:noHistory="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.Advanced" android:exported="true" android:noHistory="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.LimitWifiSpeed" android:exported="true" android:noHistory="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.WifiSettings" android:exported="true" android:noHistory="true"/>
        <activity android:theme="@style/routerChef.NoActionBar" android:name="com.raouf.routerchef.LineDetails" android:exported="true"/>
        <activity android:theme="@style/routerChef.secondaryActionBarColor" android:name="com.raouf.routerchef.MainFeatures" android:exported="true"/>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-6362221127909922~1943108881"/>
        <activity android:theme="@android:style/Theme.Translucent" android:name="com.google.android.gms.ads.AdActivity" android:exported="false" android:configChanges="smallestScreenSize|screenSize|uiMode|screenLayout|orientation|keyboardHidden|keyboard"/>
        <provider android:name="com.google.android.gms.ads.MobileAdsInitProvider" android:exported="false" android:authorities="com.raouf.routerchef.mobileadsinitprovider" android:initOrder="100"/>
        <service android:name="com.google.android.gms.ads.AdService" android:enabled="true" android:exported="false"/>
        <provider android:name="androidx.startup.InitializationProvider" android:exported="false" android:authorities="com.raouf.routerchef.androidx-startup">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:name="androidx.work.impl.background.systemalarm.SystemAlarmService" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:directBootAware="false"/>
        <service android:name="androidx.work.impl.foreground.SystemForegroundService" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.utils.ForceStopRunnable.BroadcastReceiver" android:enabled="true" android:exported="false" android:directBootAware="false"/>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryChargingProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.StorageNotLowProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.NetworkStateProxy" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver" android:enabled="false" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.google.firebase.messaging.FirebaseMessagingService" android:exported="false" android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService" android:exported="false" android:directBootAware="true">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:name="com.squareup.picasso.PicassoProvider" android:exported="false" android:authorities="com.raouf.routerchef.com.squareup.picasso"/>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="5.0.0"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.android.billingclient.api.ProxyBillingActivity" android:exported="false" android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard"/>
        <service android:name="androidx.room.MultiInstanceInvalidationService" android:exported="false" android:directBootAware="true"/>
        <service android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery" android:exported="false">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false"/>
        <receiver android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver" android:exported="false"/>
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:authorities="com.raouf.routerchef.firebaseinitprovider" android:initOrder="100" android:directBootAware="true"/>
        <receiver android:name="com.google.android.gms.measurement.AppMeasurementReceiver" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementService" android:enabled="true" android:exported="false"/>
        <service android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE" android:enabled="true" android:exported="false"/>
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <meta-data android:name="com.android.vending.splits.required" android:value="true"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_DISTRIBUTION_APK"/>
        <meta-data android:name="com.android.vending.splits" android:resource="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>
